@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
    display: none;
} */

.scrollable-container {
    overflow-y: auto; /* Enable vertical scrollbar */
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: transparent #ccc; /* Scrollbar color (thumb color) */
  }
  
  /* Thin scrollbar track */
  .scrollable-container::-webkit-scrollbar-track {
    background: transparent; /* Transparent background */
  }
  
  /* Thin scrollbar thumb */
  .scrollable-container::-webkit-scrollbar-thumb {
    background: transparent; /* Transparent background */
    border-right: 2px solid #ccc; /* Border color for the right side */
    border-bottom: none; /* Remove bottom border */
  }
  
  /* Thin scrollbar on the right side */
  .scrollable-container::-webkit-scrollbar {
    width: 8px; /* Set scrollbar width */
    height: 8px; /* Set scrollbar height */
  }
